.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.empty-well {
    background: transparent;
}
.big-icon {
    font-size: 2.4em;
}
footer {
    background-color: black;
    font-size: 1.2em;
    text-align: center;
    color: white;
}
.error {
    color: red;
}