/*  Texts configuration for the "guide" pages  */

h2 {
    padding-left: 20px; 
    font-family: 'Verdana', Arial, serif;
    font-size: 24px;
    line-height: 24px;
    color: #0182b5;
    font-weight: bold;
		margin-left:auto; 
		margin-right:auto;
}
h3 {
    padding-left: 20px; 
    font-family: 'Verdana', Arial, serif;
    font-size: 16px;
    line-height: 10px;
    color: #0182b5;
    font-weight: bold;
}
p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Verdana', Arial, serif;
    font-size: 14px;
    line-height: 16px;
    color: #323132;
    font-weight: normal;
		margin-top: -0.6em;
}
.center {
    width: 70%;
		margin-left:auto; 
		margin-right:auto;
}