
#search {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 35%;
background-color: rgba(0, 0, 0, 0.7);

-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;

-webkit-transform: translate(0px, -100%) scale(0, 0);
-moz-transform: translate(0px, -100%) scale(0, 0);
-o-transform: translate(0px, -100%) scale(0, 0);
-ms-transform: translate(0px, -100%) scale(0, 0);
transform: translate(0px, -100%) scale(0, 0);

opacity: 0;
}

#search.open {
-webkit-transform: translate(0px, 0px) scale(1, 1);
-moz-transform: translate(0px, 0px) scale(1, 1);
-o-transform: translate(0px, 0px) scale(1, 1);
-ms-transform: translate(0px, 0px) scale(1, 1);
transform: translate(0px, 0px) scale(1, 1); 
opacity: 1;
}

#search input[type="search"] {
position: absolute;
top: 32%;
width: 100%;
color: rgb(255, 255, 255);
background: rgba(0, 0, 0, 0);
font-size: 3.6em;
line-height: 32px;
font-weight: 560;
text-align: center;
border: 0px;
margin: 0px auto;
padding: 2px 20px;
outline: none;
}
#search .btn {
position: absolute;
top: 48%;
left: 40%;
margin-top: 50px;
}
#search .close {
position: fixed;
top: 8px;
right: 8px;
color: #fff;
background-color: #428bca;
border-color: #357ebd;
opacity: 1;
padding: 10px 17px;
font-size: 27px;
}