.home {
    background-image: url("../../images/notes-music.jpg");
		background-repeat: repeat;
}	
#feat-head {
		color: #fff;
    margin-top: 2.8em;
}
.font-artist {
    font-family: Tunga, Verdana, sans-serif;
		font-size: 1.2em;
		font-weight: bold;
}
.icon-search {
		font-size: 1.2em;
}
.btn-search {
    margin-top: 0px;
		height: 2.32em;
}
.butt-show {
    display: block;
}
.butt-hide {
    display: none;
}
.tab-side {
		margin-rigth: auto;
		margin-left: auto;
}
.img-edge {
    margin: 0.5em;
}
.img-feat {
    margin: 0.5em;
		padding: 0.2em 0;
		width: 220px;
		height: 220px;
	  -o-object-fit: contain;
}
.img-ground {
		color: #000080;
		font-size: medium;
		width: 125px;
		height: 125px;
		border: 1px solid #000080;
    margin: 0.5em;
		padding: 6px 6px;
		background-image: url("../../images/no-singer.png");
    background-size: 125px 125px;
    background-repeat: no-repeat;
}
.strong {
		font-weight: bold;
}
.high-line {
		margin-bottom: 0.6em;
}
.to-endline {
    position: relative;
		float: right;
}
.to-shadow {
    margin-left: 4px;
    padding: 2px 2px 2px 5px;
		line-height: 1.3;
		font-size: medium;
		background-color: #fff;
    box-shadow: 1px 1px 5px #888888;
}
.my-dialog {
    margin-left: 1.2em;
		font-size: medium;
		color: blue;
}
.my-dialog-bold {
    margin-left: 1.2em;
		font-size: medium;
		font-weight: bold;
		color: blue;
}
.my-alert {
    margin-left: 1.2em;
		font-size: medium;
		color: red;
}
.my-alert-bold {
    margin-left: 1.2em;
		font-size: medium;
		font-weight: bold;
		color: red;
}
.my-recovery {
    margin-left: 1.0em;
		font-size: medium;
		color: #7D0552;
}
.input[type=checkbox] {
		color: #fff;
		line-height: 1.3;
		font-size: medium;
}
.to-round {
    margin-top: -3px;
		height: 2.32em;
    border-radius: 4%;
}
.to-step {
    margin-top: 0.3em;
}
.to-stepdown {
    margin-top: 0.5em;
}
.to-upper {
    margin-top: -20px;
}
.to-down {
    margin-top: 10px;
}
.to-left {
		margin-left: 5.0em;
		float: left;
}
.to-right {
    margin-left: 1.2em;
}
.to-middle {
    margin-rigth: 4.0em;
		margin-left: 4.0em;
}
