    {% if messages|length > 0 %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}