    <footer>
        <div class="row">
            <div class="col-md-3">
                Footer text
            </div>
            <div class="col-md-3">
                Center
            </div>
            <div class="col-md-3">
                Map
            </div>
        </div>
    </footer>

