<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block browsertitle %}ACME{% endblock %}</title>

        {% include 'require/include_css.html' %}
            
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <br />
        {% include 'segments/topnav.html' %}

        {% block outside %}
        {% endblock %}
            
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        
        {% include 'segments/footer.html' %}
        
        {% include 'require/include_js.html' %}
        
        {% block bottomjs %}
        {% endblock %}
        
        <script>
//            $('body').css('background-color', '#c4f1fb');
        </script>
    </body>
</html>