{% extends "frame.html" %}

{% block browsertitle %}ACME: login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1> Login </h1>
            <hr />

            <form class="form-horizontal" method="post" action="doLogin">
              <div class="row form-group">
                <label class="col-md-2 control-label" for="login_email">Email</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="login_email" name="login_email"
                         placeholder="Email">
                </div>
              </div>
              <div class="row form-group">
                <label class="col-md-2 control-label" for="login_password">Password</label>
                <div class="col-md-10">
                  <input type="password" class="form-control" id="login_password" name="login_password"
                         placeholder="Password">
                </div>
              </div>
              <br />
              <div class="row form-group"> 
                <div class="col-md-3"></div>
                <label class="checkbox"><input type="checkbox"> Remember me</label>
              </div>
              <div class="row form-group">
                <div class="col-md-3"></div>
                <button type="submit" class="btn btn-info">Sign in</button>
              </div>
            </form>
        </div>
    </div>
{% endblock %}