{% extends "frame.html" %}

{% block browsertitle %}ACME: register{% endblock %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {% include 'segments/errormsg.html' %}
        
        <h1> Register </h1>
        <hr />
        <form class="form-horizontal" id="form_register" name="form_register" method="post" action="doRegister">
          <div class="row form-group">
            <label class="col-md-2 control-label" for="first_name">First Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-2 control-label" for="last_name">Last Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-2 control-label" for="user_email">Email</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="user_email" name="user_email" placeholder="E-mail">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-2 control-label" for="user_pass">Password</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="user_pass" name="user_pass" placeholder="Password">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-2 control-label" for="user_verif">Repeat Pwd</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="user_verif" name="user_verif" placeholder="Repeat Password">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-2 control-label" for="user_age">Age</label>
            <div class="col-md-10">
              <input type="number" class="form-control" id="user_age" name="user_age" placeholder="Age">
            </div>
          </div>
          <br />
          <div class="row form-group">
            <div class="col-md-2"></div>
            <button type="submit" class="btn-primary">Sign up</button>
          </div>
        </form>
    </div>
{% endblock %}

{% block bottomjs %}
<script src="../components/jquery/jquery.validate.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $('#form_register').validate({
        rules: {
            first_name: { required: true },
            last_name: { required: true },
            user_email: { required: true, email: true },
            user_pass: { required: true },
            user_verif: { required: true, equalTo: '#user_pass' },
            user_age: { required: true }
        }
    }); 
});
</script>
{% endblock %}